@import url("https://fonts.googleapis.com/css2?family=Inter");

:root{
    /*Font*/
    --font-family: "Inter", sans-serif;

    /*Colors*/
    --color-primary: #FF577F;
    --color-primary-focus: ##FF427F;
    --color-primary-negative: #59323F;

    --color-sucess: #3FE864;
    --color-negative: #E83F5B;


    --color-gray0: #F8F9FA;
    --color-gray1: #868E96;
    --color-gray2: #343B41;
    --color-gray3: #212529;
    --color-gray4: #121214;


    
}