.title1{
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: bold;
}

.title2{
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: bold;
}

.headline{
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
}

.headlineBold{
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: bold;
}

.paragraph{
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
}